a {
  @apply underline text-blue-600 hover:text-blue-800
}

.btn-blue {
  @apply no-underline bg-blue-700 px-5 py-2 text-lg shadow-sm font-medium tracking-wider border text-white rounded-lg hover:shadow-lg hover:bg-blue-600 hover:text-blue-100;
}

.highlight {
  @apply bg-yellow-200 text-black font-bold px-1 py-1;
}

.hover\:w-full:hover {
  width: 100%;
}
.group:hover .group-hover\:w-full {
  width: 100%;
}
.group:hover .group-hover\:inline-block {
  display: inline-block;
}
.group:hover .group-hover\:flex-grow {
  flex-grow: 1;
}